 .our-team {
    background-color: var(--cloud, #F4F4FD);
    padding: 96px 28px 96px 28px;
}

.our-team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;
    text-transform: capitalize;
}

.team-list-item {
    margin-top: 72px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    height: 428px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
    display: flex;
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px
}

.post {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.div-team-member-and-post {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 264px;
}

.social-networks-icon {
    fill: #f4f4fd;
}

.social-networks-icon-list {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    gap: 24px;
}



.social-networks-icon-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS, #4D5AE5);
    padding: 12px 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-networks-icon-list-item-link:hover,
.social-networks-icon-list-item-link:focus {
    background-color: var(--OCEAN, #404BBF);
}


@media screen and (min-width: 768px) {
    
    .conteiner {
        max-width: 768px;
        width: 100%;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        align-items: center;
        gap: 64px 24px;
        
    }
    .div-team-member-and-post {
        width: 264px;
    }
    .team-list-item {
        width: calc((100% - 176px) / 2);
        margin-top: 0;
    }

    .our-team-title {
        margin-bottom: 72px;
    }
    
}


@media screen and (min-width: 1188px) {

    .conteiner {
        width: 100%;
        max-width: 1158px;
    }

    .team-list {
        flex-wrap: nowrap;
    }
}